colorama==0.4.6
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
uvicorn==0.48.0
SQLAlchemy==2.0.50
pydantic==2.13.4
pydantic_core==2.46.4
asyncpg==0.31.0
alembic==1.18.4
redis==5.3.1